<h1 class="animated fast fadeIn"> Sobre Comic App</h1>
<hr>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam voluptatum officiis repellendus nobis temporibus minus necessitatibus quibusdam corrupti? Excepturi tempore voluptatibus autem consequuntur sunt? A omnis numquam earum distinctio?</p>