<div class="row">

    <div class="col">
            <h1>*ng-If</h1>
               <hr> 
               <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 100%;">
                
                <div class="card-body">
                  <h5 class="card-title">Autor: {{frase.autor}}</h5>
                  <p class="card-text">Mensaje: {{frase.mensaje}}</p>
                </div>
              </div>
              <button (click)="mostrar = !mostrar" class="btn btn-outline-primary btn-block">
                    Mostrar/Ocultar
              </button>
    </div>
    <div class="col">
            <h1>*ng-for</h1>
            <hr>    
            <ul  class="list-group">
                <li *ngFor="let item of personajes; let i = index" class="list-group-item">
                    
                   {{i}} - {{item}}</li>
              </ul>
    </div>



</div>